<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>

<body>
    <h1 id="Heading">My List</h1>
    <!-- Form -->
    <form id="taskForm">
        <label for="taskInput">Task:</label>
        <input type="text" id="taskInput" name="task" required>
        <button type="submit">Add Task</button>
    </form>
    <br>
    <br>
    <!-- Table -->
    <table id="taskTable" border="1">
        <tr>
            <th>Task</th>
            <th>Action</th>
        </tr>
        <!-- add for loop to make rows -->
    </table>
    
    
    <script src="script.js"></script>
</body>

</html>